## Predicting the stock market has been the bane and goal of investors since its inception

### Letâ€™s see how to predict stock prices using Machine Learning and the python programming language

### DATA PREPARATION

In [1]:
#IMPORTING THE NECESSARY LIBRARIES
import numpy as np
import pandas as pd
from sklearn import preprocessing
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

In [2]:
def prepare_data(df,prediction_col,prediction_out,test_size):
    label = df[prediction_col].shift(-prediction_out) #creating a new column "label" where the last 5 rows are NaN
    X = np.array(df[[prediction_col]]) #creating the feature array
    X = preprocessing.scale(X) #assigning to the X variable the preprocessing of the feature array
    X_second = X[-prediction_out:] #creating a second column to be used later during the prediction
    X = X[:-prediction_out] # making X to contain the training and testing datasets
    label.dropna(inplace=True) #ensuring to drop all NaN values, so as to have real values to deal with
    y = np.array(label)  # assigning values to the variable Y
    X_train, X_test, Y_train, Y_test = train_test_split(X, y, test_size=test_size, random_state=0) #cross validation and test and train dataset spliting

    outcome = [X_train,X_test , Y_train, Y_test , X_second]
    return outcome

### creating a function to predict the date

In [3]:
def date_data(df,date_col,date_out,test_size):
    date_label = df[date_col].shift(-date_out) #creating a new column "date_label" where the last 5 rows are NaN
    A = np.array(df[[date_col]]) #creating the feature array
    A = preprocessing.scale(A) #assigning to the A variable the preprocessing of the feature array
    A_second = A[-date_out:] #creating a second column to be used later during the prediction
    A = A[:-date_out] # making A to contain the training and testing datasets
    date_label.dropna(inplace=True) #ensuring to drop all NaN values, so as to have real values to deal with
    B = np.array(date_label)  # assigning values to the variable B
    A_train, A_test, B_train, B_test = train_test_split(A, B, test_size=date_test_size, random_state=0) #cross validation and test and train dataset spliting

    date_outcome = [A_train,A_test , B_train, B_test , A_second]
    return date_outcome

### LOADING THE DATASET

In [4]:
df = pd.read_csv("data.csv")

In [5]:
df.head()

         Date       Open       High        Low      Close  Adj Close  Volume
0  2020-01-27  71.320000  71.635002  71.320000  71.324997  71.324997       0
1  2020-01-28  71.654999  71.654999  71.178001  71.440002  71.440002       0
2  2020-01-29  71.230103  71.425003  71.168503  71.230400  71.230400       0
3  2020-01-30  71.300003  71.711998  71.300003  71.300003  71.300003       0
4  2020-01-31  71.639999  71.639999  71.277496  71.639999  71.639999       0

## Prepare three input variables as already prepared in the function created in the above section
### First input is what column to predict. Second input is how deep/far we want to go into the column to predict. Third input is the size of the test set

In [6]:
prediction_col = ("Close")
prediction_out = 7
test_size = 0.2
#print(df["date_col"])

In [7]:
date_col = []
for i in df["Date"]:    
    date_col.append(i.replace("-",""))
    #print(date_col)
df["date_col"] = date_col
date_col = "date_col"
date_out = 7
date_test_size = 0.2

### Applying Machine Learning for Stock Price Prediction

In [8]:
#spliting the data and fitting it into the linear regression model:

X_train, X_test, Y_train, Y_test , X_second = prepare_data(df,prediction_col,prediction_out,test_size); #calling the method were the cross validation and data preperation is in
learner = LinearRegression() #initializing the linear regression model

learner.fit(X_train,Y_train) #training the linear regression model

LinearRegression()

In [9]:
#spliting the data and fitting it into the linear regression model:

A_train, A_test, B_train, B_test , A_second = date_data(df,date_col,date_out,date_test_size); #calling the method were the cross validation and data preperation is in
date_learner = LinearRegression() #initializing the linear regression model

date_learner.fit(A_train,B_train) #training the linear regression model

LinearRegression()

### Predicting the output and checking the output for prices of the stock prices:

In [10]:
score = learner.score(X_test,Y_test) #testing the linear regression model
prediction = learner.predict(X_second) #set that will contain the forecasted data
outcome = {}#creting json object
outcome['test_score'] = score
outcome['forecast_set'] = prediction

print(outcome)

{'test_score': 0.7445612741455464, 'forecast_set': array([73.41801292, 73.44272624, 73.44539219, 73.21157548, 73.24819239,
       73.28230727, 73.26075499])}

In [11]:
date_score = date_learner.score(A_test,B_test) #testing the linear regression model
date_prediction = date_learner.predict(A_second) #set that will contain the forecasted data
date_outcome = {}#creting json object
date_outcome['test_score'] = date_score
date_outcome['forecast_set'] = date_prediction

print(date_outcome)

{'test_score': 0.5498749280406348, 'forecast_set': array([20210425.58304392, 20210426.58492009, 20210427.58679625,
       20210428.58867242, 20210429.59054858, 20210432.59617708,
       20210433.59805324])}

In [12]:
print("The model testing score is " + str(score))

The model testing score is 0.7445612741455464

In [13]:
print("The model testing score is " + str(date_score))

The model testing score is 0.5498749280406348

In [14]:
stock_value = []
for i in prediction:    
    stock_value.append(i)

In [15]:
print(stock_value)

[73.41801292164622, 73.44272623813349, 73.44539219099788, 73.21157547732426, 73.24819238984085, 73.28230726731897, 73.26075498545462]

In [16]:
stock_date = []
for i in date_prediction:    
    stock_date.append(int(np.ceil(i)))

In [17]:
print(stock_date)

[20210426, 20210427, 20210428, 20210429, 20210430, 20210433, 20210434]

In [18]:
#print ('stock_date, stock_value')
for i in range(len(stock_date)):
    print("The predicted stock value for " + str(stock_date[i]) + ' is ' + str(stock_value[i]))

The predicted stock value for 20210426 is 73.41801292164622
The predicted stock value for 20210427 is 73.44272623813349
The predicted stock value for 20210428 is 73.44539219099788
The predicted stock value for 20210429 is 73.21157547732426
The predicted stock value for 20210430 is 73.24819238984085
The predicted stock value for 20210433 is 73.28230726731897
The predicted stock value for 20210434 is 73.26075498545462

NOTE: The 4th Month of the year is April and it has 30 days, thus 33 and 34 would be the 3rd and 4th days of the Fifth Month (May)

### THE END

In [19]:
#print(stock_date[1])

In [20]:
#pd.to_datetime(stock_date, format='%Y%m%d')

In [21]:
# for i in stock_date:
#     print(pd.to_datetime(i,format='%Y%m%d'))
#     #print(i)